.blog-detail .detail-post div>div {
    word-break: break-all;
}

.blog-detail .post-slider {
    margin-top: 60px;
}

.navbar__item.active {
    background-color: #545454;
}

.navbar__item.active a {
    opacity: 1 !important;
}

li.error {
    color: red;
    margin-bottom: 10px;
}

.desktop-header .under-header .under-header__container .navbar .navbar__list .navbar__item.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #62c0cb;
}

.about-section .slider-about__body {
    overflow: hidden !important;
}

.contact-form-errors {
    margin-bottom: 50px;
}

.contact-form-errors ul li {
    font-weight: 600;
    color: red;
    text-align: center;
}

.contact-form .contact-form__lable .contact-form__input.error {
    border: 2px solid red;
}

.thumb-slider__slide .thumb-test {
    max-height: 85px !important;
}

.thumb-slider__slide {
    display: inline;
}

.white {
    color: white;
}

.sidebar-row__title.active {
    color: #62c0cb;
}

.about-grid__text {
    margin-bottom: auto;
}

.series_list_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.series_list_area .product {
    margin-right: 20px;
}

.characteristic-grid_row table {
    width: 100%;
    border-spacing: 0;
    box-shadow: 0 15px 30px rgb(0 0 0 / 7%);
    font-family: Inter;
}

.characteristic-grid_row table:first-child {
    box-shadow: 0 0px 30px rgb(0 0 0 / 7%);
}

.characteristic-grid_row table tr td {
    padding: 15px;
    font-size: 16px;
}

.characteristic-grid_row table tr:nth-child(even) {
    background-color: #f6f6f6;
}

.characteristic-grid_row table tr td:nth-child(2n) {
    text-align: right;
    color: #717171;
}

img.table_img_brand {
    width: 70px;
    height: 25px;
    object-fit: contain;
}

span.icon-star.forRev {
    cursor: pointer;
}

.page-grid__content.no-sidebar .series_list_area {
    grid-template-columns: repeat(4, 1fr);
}

.page-grid__content.no-sidebar .page-grid__products {
    display: block;
}

.page-grid__content.no-sidebar .series_list_area .product {
    width: 100%;
}

.page-grid__content.no-sidebar .series_list_area .product .product-image img {
    width: 100%;
    object-fit: contain;
}

.page-grid__content.no-sidebar {
    display: block;
}

@media (max-width: 992.98px) {
    .page-grid__content.no-sidebar .series_list_area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767.98px) {
    .page-grid__content.no-sidebar .series_list_area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .page-grid__content.no-sidebar .series_list_area {
        grid-template-columns: repeat(1, 1fr);
    }
}